@media (max-width: 500px) {
    /*xxs*/
    #container {
        width: 270px;
        height: 940px !important;
    }

    .container {
        width: 350px;
    }

    #container .item {
        width: 270px;
    }

}

@media (min-width: 501px)  and (max-width: 767px) {
    /*xs*/
    #container {
        width: 410px;
    }

    .container {
        width: 490px;
    }

    #container .item {
        width: 410px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*sm*/
    #container {
        width: 670px;
    }

    #container .item {
        width: 332px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*md*/
    #container {
        width: 890px;
        height: 920px !important;
    }

    #container .item {
        width: 293px;
    }
}

@media (min-width: 1200px) {
    /*lg*/
    #container {
        width: 1090px;
    }

    #container .item {
        width: 360px;
    }
}

#wrapper {
    width: 100%;
    position: relative;
}

#container {
    position: relative;
    height: 880px;
    overflow: hidden;
    margin: 0 auto;
}

#container .item {
    position: absolute;
    top: 0;
    overflow: hidden;
}

#carouselRight {
    position: absolute;
    top: 49%;
    left: 0;
    margin-left: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/blog-arrows.jpg) no-repeat top left;
}

#carouselLeft {
    position: absolute;
    top: 49%;
    right: 0;
    margin-right: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/blog-arrows.jpg) no-repeat top right;
}