.filters {
    background: url("/images/backWedding.jpg");
}

.btn-danger {
    background: linear-gradient(to bottom, #F85DA5, #E74A9F);
    box-shadow: 0 2px 2px #B90F0E;
}

.btn-danger:focus {
    background: #C84089 !important;
}

.priceMan {
    background: url("/images/backPriceWedding.png");
    margin: 5px 10px;
    font-weight: bold;
}

.banket-divider {
    background: url("/images/backBanketDishes.png");
    width: 100%;
    height: 11px;
}

.action img {
    width: 100%;
}