.breadcrumb {
    background: none;
    font-size: 12px;

}

.breadcrumb a {
    color: #7e7e7e;
    text-decoration: underline;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "|\00a0";
}

.img-responsive {
    width: 100%;
}

.services td, .dishes-grid td {
    padding: 5px;
}

.checkboxes input[type=checkbox] {
    margin-right: 5px;
    display: none;
}

.checkboxes label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.checkboxes label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #fff;
    box-shadow: inset 0px 2px 3px 2px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.dishes-grid label:before {
    left: auto;
    right: 5px;
}

.checkboxes label:before {
    border-radius: 3px;
}

.checkboxes input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 255, 0, .2);
    color: #6AB619;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}

.dishes-grid td {
    padding: 5px;
    height: 100%;
    position: relative;
}

.dishes-grid td label {
    position: absolute;
    right: 0;
    top: 0;
}

.dishes-grid td label + img {
    cursor: pointer;
}

.checkboxes input[type=checkbox]:checked + label + img {
    opacity: 1;
alpha(opacity = 100);
}

.checkboxes input[type=checkbox] + label + img {
    opacity: 0.3;
alpha(opacity = 30);
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.services div {
    text-align: center;
    padding: 3px 5px;
    vertical-align: bottom;
    position: relative;
    flex-direction: column-reverse;
    display: inline-flex;
}


.carousel .item img {
    width: 100%;
}

.carousel-indicators li {
    border: none;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #8CB338;
}
