@media (max-width: 500px) {
    #carouselLeft {
        right: 0 !important;
    }

    #carouselRight {
        left: 0 !important;
    }
}

@media (min-width: 501px)  and (max-width: 767px) {
    /*xs*/
    .col-md-8 #container {
        width: 450px;
    }

    .col-md-8 .container {
        width: 490px;
    }

    .col-md-8 #container .item {
        width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*sm*/
    .col-md-8 #container {
        width: 360px;
    }

    .col-md-8 #container .item {
        width: 360px;
    }
    .col-md-8, .col-md-4{
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*md*/
    .col-md-8 #container {
        width: 630px;
        height: 900px !important;
    }

    .col-md-8 #container .item {
        width: 310px;
    }
}

@media (min-width: 1200px) {
    /*lg*/
    .col-md-8 #container {
        width: 750px;
    }

    .col-md-8 #container .item {
        width: 372px;
    }
}

.col-md-8 #carouselRight {
    left: -20px;
}

.col-md-8 #carouselLeft {
    right: -20px;
}

.calendar {
    margin-top: 60px;
}

.ws-po-box {
    border: none;
    background: #fae069;
}

.input-picker .picker-list, .input-picker .picker-list td > button {
    background: none;
}

.btn::before {
    color: green;
}

.input-picker .ws-button-row {
    border: none;
}

.input-picker .picker-list td > button.checked-value {
    background: #8CBA5B;
}

#showHideGroup .btn {
    font-size: 12px;
    height: 35px;
}

#menus {
    padding: 0;
}
.ws-inline-picker{
    margin: 0 auto;
}