@media (max-width: 500px) {
    #carouselLeft {
        right: 0 !important;
    }

    #carouselRight {
        left: 0 !important;
    }

    .index-calendar-months {
        height: 290px !important;
    }

    .trip-control-wrap {
        padding-right: 260px !important;
    }
}

@media (min-width: 501px)  and (max-width: 767px) {
    /*xs*/
    .col-md-8 #container {
        width: 450px;
    }

    .col-md-8 .container {
        width: 490px;
    }

    .col-md-8 #container .item {
        width: 450px;
    }

    .index-calendar-months {
        height: 290px !important;
    }
}

@media (max-width: 991px) {
    #showHideGroup {
        float: none !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    /*sm*/
    .col-md-8 #container {
        width: 360px;
    }

    .col-md-8 #container .item {
        width: 360px;
    }

    .col-md-8, .col-md-4 {
        width: 50%;
        float: left;
    }

    .trip-control-wrap {
        padding-right: 300px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*md*/
    .col-md-8 #container {
        width: 630px;
        height: 900px !important;
    }

    .col-md-8 #container .item {
        width: 310px;
    }

    .trip-control-wrap {
        padding-right: 270px !important;
    }
}

@media (min-width: 1200px) {
    /*lg*/
    .col-md-8 #container {
        width: 750px;
    }

    .col-md-8 #container .item {
        width: 372px;
    }
}

.col-md-8 #carouselRight {
    left: -20px;
}

.col-md-8 #carouselLeft {
    right: -20px;
}

.calendar {
    margin-top: 60px;
}

.trip-control-wrap {
    background: #fae069;
    padding-right: 324px;
    color: black;
}

.flight-index-form .index-calendar {
    background: #fae069;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute !important;
    overflow: hidden;
}

.index-calendar .index-calendar-header td, .index-calendar .day span, .index-calendar .index-calendar-month, .index-calendar .day.d1 span {
    color: #000000;
}

.index-calendar .index-calendar-arrow:hover svg {
    stroke: #fae069;
}

.index-calendar .index-calendar-month, .index-calendar .day span:hover , .index-calendar .day.d1:hover span {
    border-color: #8CBA5B;
}

.index-calendar .index-calendar-arrow, .index-calendar .day.cd0 span {
    background: #8CBA5B;
}

#showHideGroup {
    float: right;
}

#showHideGroup .btn {
    font-size: 12px;
    height: 35px;
}

#menus {
    padding: 0;
}

.flight-index-form {
    padding: 0 10px;
}
.flight-index-form *{
    transform: none !important;
}